#login{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     border: 1px solid #666;
     background-color: #e9eeefc2;
     border-radius: 20px ;
     padding: 10px;
     margin: 10px;
     width: 300px;
     min-height: 100px;
     box-shadow: 10px 10px 12px ;
     background-image: radial-gradient(rgb(60, 5, 97),rgb(152, 6, 6)) ;
    color: white;
}
#cadastro{
   /* display: block;*/
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #666;
    background-color:#e9eeefc2;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    min-height: 100px;
    box-shadow: 10px 10px 12px;
    background-image: radial-gradient(rgb(60, 5, 97),rgb(152, 6, 6)) ;
    color: white;
    
}
#navbar {
    display: none;
}
#produtos{
    display: none;
}
.containerInput{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    border-radius: 5px;
    height: 25px;
    box-shadow: 10px 1px 10px;
    
}
button{
    background-color: beige;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
button:hover{
    background-color: rgb(115, 0, 255);
    scale: 1.1;
    transition: 0.02 ease-in-out;
    /*color: #fff; 8*/
    
}body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bt-secundario{
    background-color: #eee;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;

}
